<div class="singup-container">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="singup-form">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nome" nzRequired> Nome </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor insira seu nome!">
        <input nz-input id="nome" formControlName="nome" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cpf" nzRequired>CPF</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['cpf']" nzErrorTip="Por favor insira seu número de CPF">
        <nz-input-group>
          <input formControlName="cpf" id="cpf" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired>Data de Nascimento</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor insira sua data de Nascimento!">
        <nz-date-picker  [nzMode]="'date'" formControlName="dataNasc"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira um valor valido de e-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="senha" nzRequired>Senha</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor insira sua senha!">
        <input
          nz-input
          type="password"
          id="senha"
          formControlName="senha"
          (ngModelChange)="updateConfirmValidator()"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="senhaConfirmacao" nzRequired>Confirme sua Senha</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="senhaConfirmacao" id="senhaConfirmacao" />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Por favor confirme sua senha!</ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            As duas senhas não conferem!
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <label nz-checkbox formControlName="agree">
            <span>EU li e aceito os
              <a>termos</a>
            </span>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Cadastrar-se</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
