.singup-container{
  height: 100%;
  width: 100%;
}
.singup-form {
  max-width: 300px;
  min-height: 100vh;
  margin: 5em auto;
  padding: 1em 0;
  position: relative;
}

[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}
