<div class="category-edit">
  <nz-spin nzSimple *ngIf="!categoria"></nz-spin>
  <form nz-form [formGroup]="formEditCategory" (ngSubmit)="editCategory()" *ngIf="categoria">
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor insira o novo nome desta categoria!">
        <nz-input-group nzPrefixIcon="edit">
          <input formControlName="nome" nz-input placeholder="Editar Nome da Categoria"/>
          <nz-divider nzType="vertical"></nz-divider>
          <nz-form-control>
            <button nz-button nzType="primary" [nzLoading]="loadEdit" >Atualizar</button>
          </nz-form-control>
          <nz-divider nzType="vertical"></nz-divider>
          <nz-form-control>
            <button nz-button nzType="default" [nzLoading]="loadDelete" (click)="confirmDeleteCategoria($event)">Excluir</button>
          </nz-form-control>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>

        <nz-input-group nzPrefixIcon="dd">
          <nz-select
            nzShowSearch
            nzServerSearch
            nzPlaceHolder="Pesquise um produto para adicionar a essa Categoria!"
            (nzFocus)="searchProdutoToAdd(null)"
            [(ngModel)]="selectedProductAdd"
            [nzShowArrow]="false"
            [nzFilterOption]="nzFilterOption"
            (nzOnSearch)="searchProdutoToAdd($event)"
            (nzScrollToBottom)="loadOnScroll()"
            [nzDropdownRender]="renderTemplate"
          >
            <nz-option *ngFor="let produto of produtosSearch" [nzLabel]="produto.titulo" [nzValue]="produto"></nz-option>
          </nz-select>
          <ng-template #renderTemplate>
            <nz-spin *ngIf="loadProdutosSearch"></nz-spin>
          </ng-template>
          <button nz-button nzType="primary" [nzLoading]="false" (click)="confirmAddProdutroToCategoria()">Adicionar</button>
        </nz-input-group>




  <div>
    <h4>Produtos desta Categoria</h4>
    <nz-table #basicTable nzShowSizeChanger
              [nzData]="produtos"
              [nzFrontPagination]="false"
              [nzLoading]="loadProdutos"
              [nzTotal]="total"
              [nzPageSize]="pageSize"
              [nzPageIndex]="pageIndex"
              (nzQueryParams)="onQueryParamsChange($event)"
              [nzShowSizeChanger]="false"
    >
      <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Imagem</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let produto of produtos">
        <td>{{ produto.id }}</td>
        <td>{{ produto.titulo}}</td>
        <td>{{ produto.imagem}}</td>
        <td>{{ produto.valor}}</td>
        <td>
          <a [routerLink]="['/admin/produtos/editar', categoria.id]">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="confirmRemoveProdutrofromCategoria(produto)">Remover</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
