<div class="card">
  <img [src]="getImageUrl()" alt="Denim Jeans" style="width:100%">
  <h1 style="color: black;" >{{produto.titulo}}</h1>
  <p class="price">R${{produto.valor}}</p>
  <p>{{produto.descricao}}</p>
  <p><button (click)="addToCart()">Compra</button></p>
</div>
