<form nz-form [formGroup]="formCadastro" (ngSubmit)="submitForm()" class="singup-form">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="titulo" nzRequired> Titulo </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor insira o titulo do produto!">
      <input nz-input id="titulo" formControlName="titulo" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="descricao" nzRequired> Descrição </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor insira a descrição do produto!">
      <textarea nz-input id="descricao" formControlName="descricao" ></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imagemFile" nzRequired> Imagem </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor a imagem do produto!">
      <input [writeFile]="true" type="file"  nz-input id="imagemFile" formControlName="imagemFile" (change)="onFileSelect($event)" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="valor" nzRequired> Valor </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor insira o valor do produto!">
      <nz-input-number formControlName="valor" [nzFormatter]="formatterReais" [nzParser]="parserReais"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="categoriaId" nzRequired> Categoria </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor selecione a categoria do produto!">
      <nz-select
        formControlName="categoriaId"
        nzShowSearch
        nzServerSearch
        nzPlaceHolder="Pesquise e Selecione uma Categoria!"
        [nzShowArrow]="false"
        [nzFilterOption]="nzFilterOption"
        (nzOnSearch)="searchCategoria($event)"
        (nzScrollToBottom)="loadOnScroll()"
        [nzDropdownRender]="renderTemplate"
      >
        <nz-option *ngFor="let categoria  of categorias" [nzLabel]="categoria.nome" [nzValue]="categoria.id"></nz-option>
      </nz-select>
      <ng-template #renderTemplate>
        <nz-spin *ngIf="loadCategoria"></nz-spin>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Cadastrar</button>
    </nz-form-control>
  </nz-form-item>
</form>
