<nz-layout>
  <nz-header>
    <div class="logo">
      <img src="assets/logo2.png" style="height: 50px; width: 50px;">
    </div>
    <div class="menu-option">
      <app-cart></app-cart>
      <app-menu-profile></app-menu-profile>
    </div>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-sider  nzTheme="light" style="background-color: #32538d;">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-menu-item nzMatchRouter *ngFor="let categoria of categorias">
            <a [routerLink]="['categoria',categoria.id]">
              <p>{{categoria.nome}}</p>
            </a>
          </li>
        </ul>
      </nz-sider>
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
