nz-avatar{
  margin-top: .7em;
  float: right;
}

.logo {
  width: 120px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 200px;
  border-right: 0;
  background-color: #32538d;
}

.sider-menu p{
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.sider-menu a:hover p{
color: #c3e0e5;
}

.inner-layout {
  padding: 0 24px 24px;
  background-color: #274270;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nz-content {
  background: #274270;
  padding: 24px;
  min-height: 280px;
}

.menu-option, app-cart, app-menu-profile {
  display: flex;
  padding: 0 10px;
}

.ant-menu-item-selected p {
  color: black !important;
}
