.login-container{
  height: 100%;
  width: 100%;
}
.login-form {
  max-width: 300px;
  min-height: 100vh;
  margin: 5em auto;
  padding: 1em 0;
  position: relative;
}

.login-form-margin {
  margin-bottom: 16px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
