<div class="login-container">
<form nz-form [formGroup]="formLogin" class="login-form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Por favor entre com seu e-mail!">
      <nz-input-group nzPrefixIcon="user">
        <input type="email" nz-input formControlName="email" placeholder="Seu E-mail" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Por favor entre com sua senha!">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="senha" placeholder="Sua Senha" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div nz-row class="login-form-margin">
    <div nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember">
        <span>Lembrar-me</span>
      </label>
    </div>
  </div>
  <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Fazer Login</button>
  ou
  <a routerLink="/singup">Criar Conta</a>
</form>
</div>
