<div nz-row>
<nz-row nz-col nzSpan="18">
  <nz-table #basicTable [nzData]="produtos" [nzShowPagination]="false">
    <thead >
    <tr >
      <th class="head"><p>Imagem</p></th>
      <th class="head"><p>Item</p></th>
      <th class="head"><p>Preço</p></th>
      <th class="head"><p>Quantidade</p></th>
      <th class="head"><p>Subtotal</p></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let produto of produtos">
      <td class= "corpo">
        <img style="border-radius: 10px;" height="100" width="100" [src]="getImageUrl(produto)" [alt]="produto.titulo" />
      </td>
      <td class= "corpo">{{produto.titulo}}</td>
      <td class= "corpo">{{produto.valor}}</td>
      <td class= "corpo">{{getQuantidade(produto)}}</td>
      <td class= "corpo">{{getSubTotal(produto)}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-row>
  <nz-row nz-col nzSpan="4">
    <nz-card class="pagar">
      <p style="color: rgb(255, 255, 255);">Total R${{getTotal()}}</p>
      <p style="color: rgb(255, 255, 255);"> Itens Unicos {{this.carrinho.carrinho.length}}</p>
      <div *ngIf="authService.loggedIn && carrinho.carrinho.length" class="botoes">
        <button nz-button (click)="comprar()" > Finalizar Comprar</button>
        <button nz-button (click)="limpar()" >Limpar Carrinho</button>
      </div>
      <div *ngIf="!authService.loggedIn" class="botoes">
        <button nz-button (click)="redirectToLogin()" >Fazer Login</button>
      </div>

    </nz-card>
  </nz-row>
</div>
