.head{
 background-color: #32538d;
}
.head p {
    color: white;
}

.corpo{
background-color: #c3e0e5;
}

.pagar{
    background-color: #32538d; 
    border-color: black ;
    margin-left: 10px;
    width: 300px;
    border-radius: 10px;
}

.botoes{
    justify-content: center; 
    display: flex; 
    flex-direction: column;
    padding-top: 10px;
}
.botoes button{
    background-color: #c3e0e5;
    margin: 5px;
}
