<div id="new-category">
  <form nz-form [formGroup]="formPostCategoria" (ngSubmit)="createCategoria()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Por Favor Insira o nome da nova categoria!">
        <nz-input-group nzPrefixIcon="plus">
          <input formControlName="nome" nz-input placeholder="Cadastrar Nova Categoria" />
          <nz-form-control>
            <button nz-button nzType="primary" [nzLoading]="loadBtnPost" >Cadastrar</button>
          </nz-form-control>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div id="list-category">
  <h2>Listagem de Categoria</h2>
  <nz-table #basicTable  nzShowSizeChanger
            [nzData]="categorias"
            [nzFrontPagination]="false"
            [nzLoading]="load"
            [nzTotal]="total"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)"
            nzSh

  >
    <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let categoria of categorias" >
      <td>{{ categoria.id }}</td>
      <td>{{ categoria.nome }}</td>
      <td>
        <a [routerLink]="['/admin/categorias/editar', categoria.id]">Editar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="confirmDeleteCategoria(categoria)">Excluir</a>
      </td>
    </tr>
    </tbody>
  </nz-table>

</div>
