<div>
 <h4>Dados Pessoais</h4>
  <nz-spin nzSimple [nzSize]="'large'" *ngIf="load"></nz-spin>
  <form nz-form *ngIf="!load" [formGroup]="formEdit" class="login-form"  [formGroup]="formEdit" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor entre com seu nome!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="nome" placeholder="Seu Nome" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor entre com seu e-mail!">
        <nz-input-group nzPrefixIcon="mail">
          <input type="text" nz-input formControlName="email"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor entre com sua Data de Nascimento!">
          <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="dataNasc" [nzDisabledDate]="disabledDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor entre com sua senha!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input  formControlName="senha" placeholder="********************" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <h4>Endereço</h4>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor entre com a rua do seu endereço!">
        <nz-input-group>
          <input type="text" nz-input formControlName="rua" placeholder="Rua" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor entre com sua cidade!">
        <nz-input-group>
          <input type="text" nz-input formControlName="cidade" placeholder="Cidade" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor entre com seu bairro!">
        <nz-input-group>
          <input type="text" nz-input formControlName="bairro" placeholder="Bairro" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Entre com o complemento do seu endereço">
        <nz-input-group>
          <input type="text" nz-input formControlName="complemento" placeholder="Complemento"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor entre seu CEP do seu endereço">
        <nz-input-group>
          <input type="text" nz-input  formControlName="cep" placeholder="CEP" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por favor entre seu numero do seu endereço">
        <nz-input-group>
          <input type="number" nz-input  formControlName="numero" placeholder="Numero" required/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Atualizar Dados</button>
  </form>
</div>

