<div *ngIf="categoria">
  <input (keypress)="search()" (keyup)="search()" [(ngModel)]="searchProdutdo" nz-input [placeholder]="'Pesquise produtos na categoria '+categoria.nome"
         type="text">
  <nz-page-header [nzTitle]="categoria.nome" style="background-color: #32538d;"></nz-page-header>
  <div nz-row *ngFor="let chunkProdutos of chunk(produtos,3)" nzGutter="16">
      <app-card-produto nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="24" [nzMd]="12" [nzLg]="8"  *ngFor="let produto of chunkProdutos" [produto]="produto"></app-card-produto>
  </div>
</div>
