<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="/admin" >
        <img src="assets/logo2.png" style="height: 50px; width: 50px;" alt="logo">
        <h1>Painel Administrativo</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/admin/categorias">
          <fa-icon  nz-icon [icon]="faListOl"></fa-icon>
          <span>Categorias</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/admin/produtos">
          <fa-icon  nz-icon [icon]="faBoxes"></fa-icon>
          <span>Produtos</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/admin/usuarios/master">
          <fa-icon  nz-icon [icon]="faUserAlt"></fa-icon>
          <span>Usuarios Master</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/admin/relatorios">
        <fa-icon  nz-icon [icon]="faFileAlt"></fa-icon>
        <span>Relatório</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <app-menu-profile></app-menu-profile>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-breadcrumb [nzAutoGenerate]="true">
        </nz-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
