<div id="list-user">
  <h2>Listagem de Usuarios</h2>
<a nz-button routerLink="novo" > Criar Usuario Maser</a>
  <nz-table #basicTable  nzShowSizeChanger
            [nzData]="usuarios"
            [nzFrontPagination]="false"
            [nzLoading]="load"
            [nzTotal]="total"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)"
  >
    <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cliente of usuarios" >
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.nome }}</td>
      <td>{{ cliente.email }}</td>
      <td>
        <a (click)="confirmDeleteUsurioMaster(cliente)">Excluir</a>
      </td>
    </tr>
    </tbody>
  </nz-table>

</div>
