<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu *ngIf="!user">
    <li nz-menu-item routerLink="/login">Login</li>
    <li nz-menu-item routerLink="/singup">Cadastrar-se</li>
  </ul>
  <ul nz-menu *ngIf="user">
    <li nz-menu-item [nzDisabled]="true">Olá {{user.unique_name}}</li>
    <li nz-menu-item routerLink="/profile/index">Perfil</li>
    <li nz-menu-item (click)="logout()">Sair</li>
  </ul>
</nz-dropdown-menu>
<nz-avatar nzIcon="user" nz-dropdown [nzDropdownMenu]="menu" [nzClickHide]="false"
           [(nzVisible)]="visible"></nz-avatar>
