<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/profile/index">
          <fa-icon  nz-icon [icon]="faUserAlt"></fa-icon>
          <span>Dados Cadastrais</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/profile/pedidos">
          <fa-icon  nz-icon [icon]="faBoxes"></fa-icon>
          <span>Pedidos</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <div class="menu-option">
          <app-cart color="#ccc"></app-cart>
          <app-menu-profile></app-menu-profile>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <nz-breadcrumb [nzAutoGenerate]="true">
        </nz-breadcrumb>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
