<div id="list-produtos">
  <h2>Listagem de Vendas</h2>
  <nz-table #basicTable  nzShowSizeChanger
            [nzData]="vendas"
            [nzFrontPagination]="false"
            [nzLoading]="load"
            [nzTotal]="total"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th>Id</th>
      <th>Data de Compra</th>
      <th>Produto</th>
      <th>Quantidade Total</th>
      <th>Valor total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let venda of vendas" >
      <td>{{ venda.id }}</td>
      <td>{{ formatDate(venda.dataCompra) }}</td>
      <td><a (click)="showProdutos(venda.itemDeVendas)">Ver</a></td>
      <td>{{venda.itemDeVendas.length}}</td>
      <td> R$ {{getTotalVenda(venda.itemDeVendas)}}</td>
    </tr>
    </tbody>
  </nz-table>

</div>
