<div class="singup-container">
  <form nz-form [formGroup]="formUserMaster" (ngSubmit)="submitForm()" class="singup-form">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nome" nzRequired> Nome </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor insira o nome do usuário!">
        <input nz-input id="nome" formControlName="nome" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cpf" nzRequired>CPF</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="formUserMaster.controls['cpf']" nzErrorTip="Por favor insira o número de CPF do usuário">
        <nz-input-group>
          <input formControlName="cpf" id="cpf" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Insira um valor valido de e-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="senha" nzRequired>Senha</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor insira a senha do usuário!">
        <input
          nz-input
          type="password"
          id="senha"
          formControlName="senha"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Cadastrar</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
