<div class="banner">
<img src="assets/banner.jpg" style="width: 100%;" alt="">
</div>

<div class="botao">
  <ul>
    <li *ngFor="let categoria of categorias"><a [routerLink]="['categoria',categoria.id]">{{categoria.nome}}</a></li>
  </ul>
</div>

<div class="prod">
  <div *ngFor="let produto of produtos" class="imagem">
    <div class="wra">
      <img [src]="getImageUrl(produto)" [alt]="" />
    </div>
  </div>
</div>
