.banner {
width: 100%;
height: fit-content;
background-color: #e7e8d6;
padding: 0px;
margin: 0px;
}



.botao {
width: 100%;
padding: 0px;
margin: 0px;
text-align: center;
background-color: #d3f1f7;
}

.botao ul {
list-style-type: none;
padding: 0px;
margin: 0px;
display: inline-block;

}

.botao li {
float: left;
align-items: center;
height: fit-content;
padding-right: 62px;
padding-left: 62px;
}


.botao li a {
text-align: center;
margin-top: 15px;
font-size: 17px;
}

.botao li:hover a {
color: #023fa7;
}

.prod {
background-color: #274270;
width: 100%;
display: flex;
justify-content: center;
}


.imagem {
display: flex;
justify-content: center;
flex-direction: column;

} 

.wra {
width: 180px;
height: 180px;
background-color: white;
margin-left: 35px;
margin-right: 35px;
margin-top: 10px;
display: flex;
flex-direction: column;
justify-content: center;
border-radius: 20px;
align-items: center;
}

.wra img {
width: 150px;
height: 150px;
}