<div>
    <nz-form-item>
      <nz-form-control nzErrorTip="Por Favor Insira o nome da nova categoria!">
        <nz-input-group nzPrefixIcon="search">
          <input nz-input type="text" [(ngModel)]="produtoTitulo" (ngModelChange)="searchProduto()" placeholder="Pesquise pelo titulo do produto">
          <nz-form-control>
            <a nz-button nzType="primary" routerLink="/admin/produtos/novo">Criar novo Produto</a>
          </nz-form-control>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
</div>
<div id="list-produtos">
  <h2>Listagem de Produtos</h2>
  <nz-table #basicTable  nzShowSizeChanger
            [nzData]="produtos"
            [nzFrontPagination]="false"
            [nzLoading]="load"
            [nzTotal]="total"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Valor</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let produto of produtos" >
      <td>{{ produto.id }}</td>
      <td>{{ produto.titulo }}</td>
      <td>R$ {{ produto.valor }}</td>
      <td>
        <a [routerLink]="['/admin/produtos/editar', produto.id]">Editar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="confirmDeleteProduto(produto)">Excluir</a>
      </td>
    </tr>
    </tbody>
  </nz-table>

</div>
